In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/온라인_판매기록.csv', encoding='ms949')
df

        쇼핑몰     제품  수량     판매금액 쇼핑몰 유형
0        쿠팡  제품_16   8  1134400     쿠팡
1        쿠팡  제품_57   8   439200     쿠팡
2        쿠팡  제품_25   4   495200     쿠팡
3        쿠팡  제품_18   4   578000     쿠팡
4        쿠팡  제품_90   2    75000     쿠팡
...     ...    ...  ..      ...    ...
5810  애견아우랫  제품_41   5   696500   동물병원
5811  애견아우랫  제품_98   6   590400   동물병원
5812  애견아우랫  제품_77   5   512500   동물병원
5813  애견아우랫  제품_04   6   256200   동물병원
5814  애견아우랫  제품_39   7    72800   동물병원

[5815 rows x 5 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5815 entries, 0 to 5814
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   쇼핑몰     5815 non-null   object
 1   제품      5815 non-null   object
 2   수량      5815 non-null   int64
 3   판매금액    5815 non-null   int64
 4   쇼핑몰 유형  5815 non-null   object
dtypes: int64(2), object(3)
memory usage: 227.3+ KB

In [4]:
# 평균을 구하는 함수, 소수점 두자리로 반올림
import numpy as np
def user_mean(col):
    avg = np.mean(col)
    return round(avg,2)

In [5]:
# - 쇼핑몰 유형별로 제품들의 평균판매금액

쇼핑몰 유형,동물병원,온라인II,온라인사이트,유통대리점,전시회,쿠팡,할인점,할인점II
제품,,,,,,,,
제품_01,463600.00,483120.00,395280.00,390400.00,366000.00,439200.00,146400.0,366000.0
제품_02,79920.00,108000.00,64800.00,89100.00,145800.00,97200.00,72900.0,NaN
제품_03,229712.50,247633.33,228584.62,166175.00,263925.00,209718.18,140760.0,NaN
제품_04,226843.75,277550.00,258711.76,261537.50,181475.00,195708.33,170800.0,128100.0
제품_05,774720.00,792327.27,667120.00,847350.00,376600.00,670917.65,538000.0,NaN
...,...,...,...,...,...,...,...,...
제품_95,561346.15,540555.56,495345.45,472600.00,632450.00,456093.75,608125.0,389200.0
제품_96,436666.67,385140.00,445400.00,314400.00,510900.00,377280.00,510900.0,NaN
제품_97,466020.00,582525.00,443828.57,383555.56,373966.67,431500.00,345200.0,776700.0
제품_98,578100.00,492000.00,524800.00,492000.00,664200.00,605538.46,885600.0,688800.0
제품_99,88554.55,120966.67,114600.00,87860.00,66850.00,76400.00,85950.0,114600.0

In [6]:
# - 쇼핑몰 유형별로 제품들의 평균판매금액
pd.pivot_table(df, values='판매금액', index='제품', columns='쇼핑몰 유형', aggfunc=lambda c : round(np.mean(c),2))

쇼핑몰 유형,동물병원,온라인II,온라인사이트,유통대리점,전시회,쿠팡,할인점,할인점II
제품,,,,,,,,
제품_01,463600.00,483120.00,395280.00,390400.00,366000.00,439200.00,146400.0,366000.0
제품_02,79920.00,108000.00,64800.00,89100.00,145800.00,97200.00,72900.0,NaN
제품_03,229712.50,247633.33,228584.62,166175.00,263925.00,209718.18,140760.0,NaN
제품_04,226843.75,277550.00,258711.76,261537.50,181475.00,195708.33,170800.0,128100.0
제품_05,774720.00,792327.27,667120.00,847350.00,376600.00,670917.65,538000.0,NaN
...,...,...,...,...,...,...,...,...
제품_95,561346.15,540555.56,495345.45,472600.00,632450.00,456093.75,608125.0,389200.0
제품_96,436666.67,385140.00,445400.00,314400.00,510900.00,377280.00,510900.0,NaN
제품_97,466020.00,582525.00,443828.57,383555.56,373966.67,431500.00,345200.0,776700.0
제품_98,578100.00,492000.00,524800.00,492000.00,664200.00,605538.46,885600.0,688800.0
제품_99,88554.55,120966.67,114600.00,87860.00,66850.00,76400.00,85950.0,114600.0

In [7]:
# - 쇼핑몰 유형별로 제품들의 최대판매금액
pd.pivot_table(df, values='판매금액', index='제품', columns='쇼핑몰 유형', aggfunc='max')

쇼핑몰 유형,동물병원,온라인II,온라인사이트,유통대리점,전시회,쿠팡,할인점,할인점II
제품,,,,,,,,
제품_01,732000.0,585600.0,732000.0,732000.0,512400.0,732000.0,219600.0,585600.0
제품_02,145800.0,162000.0,162000.0,129600.0,145800.0,145800.0,81000.0,NaN
제품_03,391000.0,391000.0,391000.0,351900.0,391000.0,312800.0,273700.0,NaN
제품_04,427000.0,427000.0,427000.0,427000.0,427000.0,384300.0,256200.0,128100.0
제품_05,1076000.0,1076000.0,1076000.0,1076000.0,430400.0,1076000.0,538000.0,NaN
...,...,...,...,...,...,...,...,...
제품_95,973000.0,973000.0,973000.0,778400.0,875700.0,875700.0,875700.0,486500.0
제품_96,786000.0,786000.0,786000.0,786000.0,628800.0,786000.0,550200.0,NaN
제품_97,776700.0,863000.0,517800.0,863000.0,690400.0,863000.0,604100.0,776700.0
제품_98,984000.0,984000.0,984000.0,984000.0,984000.0,984000.0,984000.0,688800.0
제품_99,152800.0,191000.0,191000.0,152800.0,114600.0,152800.0,133700.0,114600.0

In [8]:
# - 쇼핑몰 유형별 판매수량 평균
df.groupby('쇼핑몰 유형')['수량'].mean()

쇼핑몰 유형
동물병원      5.512889
온라인II     5.807143
온라인사이트    5.477670
유통대리점     5.493333
전시회       5.556701
쿠팡        5.396389
할인점       5.288525
할인점II     5.469565
Name: 수량, dtype: float64

In [9]:
#- 쇼핑몰 유형별 판매금액의 평균과 최대값
df.groupby('쇼핑몰 유형')['판매금액'].agg(['mean','max'])

                 mean      max
쇼핑몰 유형
동물병원    439390.844444  1515000
온라인II   475726.428571  1530000
온라인사이트  454746.019417  1533000
유통대리점   462627.384615  1530000
전시회     447135.051546  1486000
쿠팡      433447.802198  1533000
할인점     427162.295082  1533000
할인점II   440754.782609  1515000

In [10]:
#- 쇼핑몰 유형별 수량, 판매금액의 평균과 최대값
df.groupby('쇼핑몰 유형')[['수량','판매금액']].agg([lambda c : round(np.mean(c),2),'max'])

               수량           판매금액
       <lambda_0> max <lambda_0>      max
쇼핑몰 유형
동물병원         5.51  10  439390.84  1515000
온라인II        5.81  10  475726.43  1530000
온라인사이트       5.48  10  454746.02  1533000
유통대리점        5.49  10  462627.38  1530000
전시회          5.56  10  447135.05  1486000
쿠팡           5.40  10  433447.80  1533000
할인점          5.29  10  427162.30  1533000
할인점II        5.47  10  440754.78  1515000